// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.topbar{
	background-color:transparent;
	width:100%;
	left:0px;
	height:140px;
}
.searchbackground{
	margin-top:40px;
}
.search{
	position:absolute;
	height:30px;
	width:580px;
	background-color:white;
	color:black;
	font-size:16px;
}

.fb-like{
	top:20px;
	left:460px;
}	


.results{
	position:absolute;
	width:80%;
}

.eachresult{
	position:relative;
	width:80%;
	padding:5px;
}

.bar{
	font-family:Arial;
	text-align:center;
	top:-20px;
	position:relative;
	display:inline;
}

.baraddress{
	position:relative;
	top:-20px;
	display:inline;
}

.title{
	position:absolute;
	font-size:50px;
	color:#0088CC;
}


.twittertitle{
	font-family:Arial	;
	margin-top:50px;
	font-size:20px;
}
.sidebarcontent{
	text-align:center;
}

.resultsmessage1{
	color:red;
	font-size:20px;
	margin-right:70px;
	font-family:Arial;
}

.resultsmessage2{
	padding:14px;
	font-size:20px;
	font-family:Arial;
}

#hr{
	color:black;
}

.icon-search{
	font-size:36px;
	color:#0088CC;
}

.footer{
	position:fixed;
	bottom: 0px; /* negative value of footer height */
	left:0px;
	height:28px;
	width:100%;
	background-color:#E0E0E0;
	color:black;
}

.beta{
	color:gray;
	background-color:transparent;
	position:fixed;
	width:100%;
	bottom: 0px; /* negative value of footer height */
	right:0px;
	text-align:right;
}